<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<header>
  <% include partials/_header.ejs %>
</header>

  <ul>
    <% for(var name in urls) { %>
      <li>
        <%= name %> : <a href="<%=urls[name]%>"><%=urls[name]%> </a>
        <a href="/urls/<%=name%>">Edit </a>
        <form method="POST" action="/urls/<%= name %>/delete"> <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span> DELETE </button></form>
      </li>
    <% } %>
  </ul>
  <a href="">Shorter links!</a>



</body>
</html>
